.sidebar {
  height: 100vh;
  flex: 10%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  border-right: 1px solid #8e8e8e;
}

.topbar {
  display: none;
  justify-content: space-between;
  padding: 5px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.dropNav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 0%;
  height: 100%;
  background-color: var(--black);
  z-index: 1;
  color: white;
  /* padding: 5px; */
  overflow: hidden;
}

.dropNavTop {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  margin-bottom: 20px;
}

.dropNav .dashbutton {
  color: white;
}

.workArea {
  height: 100vh;
  flex: 90%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.workArea::-webkit-scrollbar {
  display: none;
}

.dashbutton {
  font-size: medium;
  border: none;
  outline: none;
  margin-top: 20px;
  border-radius: 5px;
  padding: 7px 14px;
  color: var(--black);
  font-weight: bold;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
}

.dashbutton:hover {
  color: white;
  background-color: var(--primary);
}

.logo {
  align-self: center;
  margin-bottom: 30px;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  margin-bottom: 50px;
}

.cards {
  padding: 10px;
  border: 1px solid #8e8e8e;
  border-radius: 5px;
  margin-right: 20px;
  font-size: larger;
}

.cardDate {
  font-size: smaller;
  margin-bottom: 5px;
}

.sectionTitle {
  font-size: x-large;
  font-weight: 500;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
}

.sectionTitleSpace {
  margin-right: 15%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.revenueGraphContainer {
  width: 600px;
  min-height: 200px;
  border: 1px solid #8e8e8e;
  border-radius: 5px;
  margin: 15px 0;
  align-items: flex-end;
  display: flex;
  justify-content: space-evenly;
}

.revenueGraph {
  width: 8%;
  padding: 0.15% 0;
  background-color: var(--secondary);
}

.revenueDaysContainer {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  margin-bottom: 20px;
}

.textRotation {
  transform: rotate(-45deg);
}

.revenueTableContainer {
  border-radius: 5px;
  border: 1px solid #8e8e8e;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  margin: 15px 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
  font-size: small;
  margin-bottom: 10px;
}

td {
  vertical-align: top;
  padding: 10px 5px;
}

.col1 {
  width: 40%;
}

.col2 {
  width: 20%;
}

.col3 {
  width: 20%;
}

.col4 {
  width: 20%;
}

.searchIcon {
  height: 25px;
  width: 25px;
}

.buttonRaw {
  padding: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

#paginarionLabel .buttonRaw:hover{
  background-color: rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
  .logo {
    height: 40px;
    width: 40px;
    margin: 10px;
  }

  .sidebar {
    flex: 0%;
    display: none;
  }

  .topbar {
    display: flex;
  }

  .workArea {
    flex: 100%;
  }

  .dashbutton {
    font-size: smaller;
  }

  .cards {
    margin-bottom: 20px;
  }

  .sectionTitle {
    font-size: large;
  }

  .sectionTitleSpace {
    margin-right: 10px;
  }

  .revenueGraphContainer {
    width: 100%;
  }
  .revenueDaysContainer {
    width: 100%;
    font-size: 12px;
  }
}
